@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Secret";
}
<h1>@ViewData["Title"]</h1>


@{
    if (this.ifClaim("Produtos", "Adicionar"))
    {
        <p>Adicionar</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").ifClaimShow(Context, "Produtos", "Adicionar")
</div>


<div>
    <hr />
    <a href="#" class="btn btn-danger" @Html.Raw(this.ifClaimShow("Produtos", "Adicionar"))>Excluir</a>
</div>